extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style-william.css')
  h1.titulo História de Pókemon
  
  p A série de desenho animado Pokémon estreou na TV em abril de 1997, popularizando a franquia entre os mais jovens e as pessoas que não jogavam, ou não podiam jogar, os jogos. Nos jogos Pokémon Red e Pokémon Green, os jogadores podiam escolher o Bulbassauro, o Charmander ou o Squirtle para ser seu acompanhante.
  
  h3 Qual foi o primeiro jogo da franquia do Pókemon?
  
  p O primeiro jogo a estrear se chamava “Pokémon Red & Green” e continha cerca de 150 monstrinhos disponíveis para jogar, sem contar com as inúmeras formas de Galarian e Alola. Com o passar do tempo, mais jogos foram lançados e cada nova aventura adicionava mais de 100 novos monstros.
  
  h3 Qual foram os primeiros Pókemons a ser laçado?
  
  p Primeira geração: Charmander / Bulbasauro / Squirtle, é aqui onde tudo começou, e Bulbasaur, Charmander e Squirtle foram os primeiros pokémons com quem o mundo jogou - Bulbasaur inclusive é o poké número 1 na pokédex.