extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style-william.css')
  h1 História de Pókemon
  p A série de desenho animado Pokémon estreou na TV em abril de 1997, popularizando a franquia entre os mais jovens e as pessoas que não jogavam, ou não podiam jogar, os jogos. Nos jogos Pokémon Red e Pokémon Green, os jogadores podiam escolher o Bulbassauro, o Charmander ou o Squirtle para ser seu acompanhante.

  label