doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.cabecalho
      h1 PROJETO COMPARTILHADO
      div.opcoes-feature
        a.opcao-feature(href='./wolnei') Wolnei
        a.opcao-feature(href='./filipe') Filipe
        a.opcao-feature(href='./william') William
    block content
